:host {
  md-card {
    #score-panel {
      display: flex;
      align-items: center;
      > div {
        padding: 4px;
        border: 1px solid lightgrey;
        border-radius: 10px;
        span {
          color: lightseagreen;
          font-size: 1.5rem;
        }
      }
    }
    .card-section {

      &:nth-child(2) {
        display: flex;
        > div {
          &:nth-child(1) {
            flex: 0 0 85px;
          }
          &:nth-child(2) {
            flex: 1;
          }
        }
      }
    }
  }
}