<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="md-title">Team Challenges</span>
  </span>
  <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
  </td-search-box>
</div>
<md-divider></md-divider>
<td-data-table
  #dataTable
  [data]="filteredData"
  [columns]="columns"
  [sortable]="true"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"
  (sortChange)="sort($event)">


  <ng-template tdDataTableTemplate="numberInvited" let-value="value">
    <div *ngIf="value; else noEntries">
      {{value}}
    </div>
    <ng-template #noEntries>-</ng-template>
  </ng-template>
  <ng-template tdDataTableTemplate="numberOfEntries" let-value="value">
    <div *ngIf="value; else noEntries">
      {{value}}
    </div>
    <ng-template #noEntries>-</ng-template>
  </ng-template>
  <ng-template tdDataTableTemplate="numberToReview" let-value="value">
    <md-chip-list *ngIf="value; else noEntries">
      <md-chip color="primary" selected="true">
        {{value}}
      </md-chip>
    </md-chip-list>
    <ng-template #noEntries>-</ng-template>
  </ng-template>
</td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
  <h3>No results to display.</h3>
</div>
<td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
  <span td-paging-bar-label hide-xs>Row per page:</span>
  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>
